<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Lista de Alunos
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <!-- <h3 class="box-title">Editar Aluno</h3> -->
            <hr>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form" action="/admin/alunos/{$alunos.idstudent}" method="post">
            <div class="box-body">
              <div class="form-group">
                <label for="nome">Nome do aluno</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-users"></i></span>
                  </div>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome do aluno"
                    value="{$alunos.nome}">
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  </div>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail"
                    value="{$alunos.email}">
                </div>
              </div>
              <div class="form-group">
                <label for="phone">Telefone</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Digite o telefone"
                    value="{$alunos.phone}">
                </div>
              </div>
              <!-- <div class="form-group">
              <label for="vlheight">Endereço</label>
              <input type="text" class="form-control" id="cep" name="cep" maxlength="9" placeholder="Digite o cep" value="">
              <br>
              <input type="text" class="form-control" id="logradouro" name="logradouro" placeholder="Logradouro" value="">
              <br>
              <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" value="">
              <br>
              <input type="text" class="form-control" id="localidade" name="localidade" placeholder="Cidade" value="">
              <br>
              <input type="text" class="form-control" id="uf" name="uf" placeholder="UF" value="">
          </div> -->
              <div class="form-group">
                <label for="course">Curso</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-book"></i></span>
                  </div>
                  <input type="text" class="form-control" id="course" name="course" placeholder="Digite o nome do curso"
                    value="{$alunos.course}">
                </div>
              </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
        </form>
      </div>
    </div>
</div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- <script>
document.querySelector('#file').addEventListener('change', function(){
  
  var file = new FileReader();

  file.onload = function() {
    
    document.querySelector('#image-preview').src = file.result;

  }

  file.readAsDataURL(this.files[0]);

});
</script> -->