<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> Lista de Alunos</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item"><a href="/admin/alunos">Alunos</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/alunos/create"></a>Cadastrar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
        <hr>


    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <form id="quickForm" role="form" action="/admin/alunos/create" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="nome">Nome do aluno</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-users"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite o nome do aluno">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite o e-mail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone">Telefone</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask='"mask": "(99) 99999-9999"'
                                        data-mask id="phone" name="phone" placeholder="Digite o telefone">
                                </div>
                            </div>
                            <!-- <i class="fa-solid fa-map-pin"></i> -->
                            <div class="form-group">
                                <label for="cep">Endereço</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="cep" name="cep" maxlength="9"
                                        placeholder="Digite o cep">
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-road"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="logradouro" name="logradouro"
                                        placeholder="Logradouro">

                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-road"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="bairro" name="bairro"
                                        placeholder="Bairro">

                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="localidade" name="localidade"
                                        placeholder="Cidade">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="uf" name="uf" placeholder="UF">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="course">Curso</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-book"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="course" name="course"
                                        placeholder="Digite o nome do curso">
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label for="login">Login</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-universal-access"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="login" name="login"
                                        placeholder="Digite o login">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Digite a senha">
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->