<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Lista de Pedidos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/orders">Pedidos</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->

  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-body no-padding">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <!--<th style="width: 10px">#</th>-->
                  <th>Cliente</th>
                  <th>Valor Total</th>
                  <th>Status</th>
                  <th style="width: 220px">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {loop="$orders"}
                <tr>
                  <!--<td>{$value.idorder}</td>-->
                  <td>{$value.nome}</td>
                  <td>R${function="formatPrice($value.vltotal)"}</td>
                  <td>{$value.desstatus}</td>
                  <td>
                    <a href="/admin/orders/{$value.idorder}" class="btn btn-default btn-xs"><i class="fa fa-search"></i>
                      Detalhes</a>
                    <a href="/admin/orders/{$value.idorder}/status" class="btn btn-primary btn-xs"><i
                        class="fa fa-pencil"></i> Status</a>
                    <a href="/admin/orders/{$value.idorder}/delete"
                      onclick="return confirm('Deseja realmente excluir este registro?')"
                      class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                  </td>
                </tr>
                
                {/loop}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
    
        </div>
      </div>
    </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->