body
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: url(fundo.jpeg) no-repeat;
    background-size: cover;
}
.login
{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.login h1 
{
    float: left;
    border-bottom: 6px solid #4c4c4c;
    padding: 13px 0;
}
.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0
    border-bottom: 1px solid #4caf50;
}