<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Projetos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/Projetos/projetos">Projetos</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <a href="/admin/Projetos/projeto/create" class="btn btn-success">Cadastrar</a>
      
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
          <thead>
            <tr>
              <th>Projeto</th>
              <th>Empresa</th>
              <th>Responsável</th>
              <th>Estado</th>
              <th>Progresso</th>
              <th style="width: 290px">&nbsp;Ações</th>    
            </tr>
          </thead>
          <tbody>
              {loop="$projetos"}
            <tr>
              <td>{$value.nome_projeto}</td>
              <td>{$value.company_name}</td>
              <td>{$value.employees_name}</td>
              <td>{$value.estado}</td>
              <td>{$value.progresso}</td>
              <td>
                <a href="/admin/Projetos/tarefas/create/{$value.id_projeto}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>
                  Tarefas</a>
                <a href="/admin/Projetos/projetos/{$value.id_projeto}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>
                  Editar</a>
                <a href="/admin/Projetos/projetos/projeto/detalhe/{$value.id_projeto}" class="btn btn-primary btn-xs"><i class="fa fa-times"></i>
                  Detalhes
                </a>
                <a href="/admin/Projetos/projetos/{$value.id_projeto}/delete"
                  onclick="return confirm('Deseja realmente excluir este registro?')"
                  class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
              </td>
            </tr>
            {/loop}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->