<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1>Detalhe do projeto</h1> -->
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Detalhe do projeto</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Detalhe dos Projetos</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
            <div class="row">
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Orçamento estimado</span>
                    <span
                      class="info-box-number text-center text-muted mb-0">R${function="formatPrice($projetos.orcamento_projeto)"}</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Status</span>
                    <span class="info-box-number text-center text-muted mb-0">{$projetos.estado}</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Duração estimada do projeto</span>
                    <span class="info-box-number text-center text-muted mb-0">20</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4>Atividade recente</h4>
                {loop="$tarefa"}
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm"
                      src="/vendor/almasaeed2010/adminlte/dist/img/user1-128x128.jpg" alt="user image">

                    <span class="username">
                      <a href="#">{$tarefa.employees_name}</a>
                    </span>

                    <span class="description">{$tarefa.tarefa} - {$tarefa.data_fim_tarefa}</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    {$tarefa.descricao}
                  </p>
                  
                </div>
                
                {/loop}
           
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
            <h3 class="text-primary"><i class="fas fa-paint-brush"></i>Descrição do projeto </h3>
            <p class="text-muted">{$projetos.descricao_projeto}</p>
            <br>
            <div class="text-muted">
              <p class="text-sm">Empresa Cliente
                <b class="d-block">{$projetos.company_name}</b>
              </p>
              <p class="text-sm">Líder do projeto
                <b class="d-block">{$projetos.employees_name}</b>
              </p>
            </div>

            <h5 class="mt-5 text-muted">Arquivos de projeto</h5>
            <ul class="list-unstyled">
              <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>
                  Functional-requirements.docx</a>
              </li>
              <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
              </li>
              <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i>
                  Email-from-flatbal.mln</a>
              </li>
              <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
              </li>
              <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>
                  Contract-10_12_2014.docx</a>
              </li>
            </ul>
            <div class="text-center mt-5 mb-3">
              <a href="#" class="btn btn-sm btn-primary">Adicionar arquivos</a>
              <a href="#" class="btn btn-sm btn-warning">Informar contato</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->